# IAT results

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/iat.csv')
df.head()

,gender,batch,iat_1,iat_2,iat_3,iat_4,iat_5,iat_6,iat_7,iat_8,...,iat_11,iat_12,iat_13,iat_14,iat_15,iat_16,iat_17,iat_18,iat_19,iat_20
0,Female,2017/ Final year,3,3,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Male,2017/ Final year,3,1,0,1,1,2,2,2,...,2,3,3,3,2,1,2,2,2,1
2,Male,2017/ Final year,3,3,0,0,2,2,2,2,...,2,3,1,3,1,2,2,2,1,1
3,Female,2017/ Final year,5,5,1,4,3,5,3,5,...,1,1,1,1,1,5,5,1,1,1
4,Female,2017/ Final year,4,2,3,1,2,3,1,2,...,1,4,0,3,1,4,4,3,1,1

In [3]:
gender_dict = {'Male': 'M', 'Female': 'F'}
batch_dict = {'2020/ First year': 'First', '2017/ Final year': 'Final'}

df['gender'] = df['gender'].replace(gender_dict)
df['batch'] = df['batch'].replace(batch_dict)

df.head()

,gender,batch,iat_1,iat_2,iat_3,iat_4,iat_5,iat_6,iat_7,iat_8,...,iat_11,iat_12,iat_13,iat_14,iat_15,iat_16,iat_17,iat_18,iat_19,iat_20
0,F,Final,3,3,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,M,Final,3,1,0,1,1,2,2,2,...,2,3,3,3,2,1,2,2,2,1
2,M,Final,3,3,0,0,2,2,2,2,...,2,3,1,3,1,2,2,2,1,1
3,F,Final,5,5,1,4,3,5,3,5,...,1,1,1,1,1,5,5,1,1,1
4,F,Final,4,2,3,1,2,3,1,2,...,1,4,0,3,1,4,4,3,1,1

First we need to do some calculations as per the instructions of the IAT

#### Total IAT scores and category

In [9]:
df['total'] = df.iloc[:, 2:].sum(axis=1)
df.head()

,gender,batch,iat_1,iat_2,iat_3,iat_4,iat_5,iat_6,iat_7,iat_8,...,iat_12,iat_13,iat_14,iat_15,iat_16,iat_17,iat_18,iat_19,iat_20,total
0,F,Final,3,3,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,8
1,M,Final,3,1,0,1,1,2,2,2,...,3,3,3,2,1,2,2,2,1,38
2,M,Final,3,3,0,0,2,2,2,2,...,3,1,3,1,2,2,2,1,1,36
3,F,Final,5,5,1,4,3,5,3,5,...,1,1,1,1,5,5,1,1,1,51
4,F,Final,4,2,3,1,2,3,1,2,...,4,0,3,1,4,4,3,1,1,44

In [10]:
score_range = [0, 31, 50, 80, 100]
score_labels = ['Normal', 'Mild', 'Moderate', 'Severe']
df['total_cat'] = pd.cut(df['total'], bins=score_range, labels=score_labels, right=False)
df.head()

,gender,batch,iat_1,iat_2,iat_3,iat_4,iat_5,iat_6,iat_7,iat_8,...,iat_13,iat_14,iat_15,iat_16,iat_17,iat_18,iat_19,iat_20,total,total_cat
0,F,Final,3,3,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,8,Normal
1,M,Final,3,1,0,1,1,2,2,2,...,3,3,2,1,2,2,2,1,38,Mild
2,M,Final,3,3,0,0,2,2,2,2,...,1,3,1,2,2,2,1,1,36,Mild
3,F,Final,5,5,1,4,3,5,3,5,...,1,1,1,5,5,1,1,1,51,Moderate
4,F,Final,4,2,3,1,2,3,1,2,...,0,3,1,4,4,3,1,1,44,Mild

In [11]:
df['total_cat'].value_counts()

total_cat
Mild        84
Normal      61
Moderate    45
Severe       4
Name: count, dtype: int64

The values match with the ones in the report.