## QOL

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/qol.csv')
df.head()

,gender,batch,qol_1,qol_2,qol_3,qol_4,qol_5,qol_6,qol_7,qol_8,...,qol_17,qol_18,qol_19,qol_20,qol_21,qol_22,qol_23,qol_24,qol_25,qol_26
0,Female,2017/ Final year,5,5,5,5,5,5,5,5,...,5,5,5,1,1,5,5,5,5,1
1,Male,2017/ Final year,4,4,3,3,4,4,4,4,...,4,4,3,4,1,3,4,4,4,3
2,Male,2017/ Final year,4,4,3,2,4,4,3,3,...,3,3,3,3,2,3,3,4,4,4
3,Female,2017/ Final year,4,4,2,1,5,4,3,5,...,5,5,5,2,5,4,5,5,5,5
4,Female,2017/ Final year,3,2,2,1,4,3,3,4,...,2,3,3,4,3,4,4,4,3,2

In [3]:
gender_dict = {'Male': 'M', 'Female': 'F'}
batch_dict = {'2020/ First year': 'First', '2017/ Final year': 'Final'}

df['gender'] = df['gender'].replace(gender_dict)
df['batch'] = df['batch'].replace(batch_dict)

df.head()

,gender,batch,qol_1,qol_2,qol_3,qol_4,qol_5,qol_6,qol_7,qol_8,...,qol_17,qol_18,qol_19,qol_20,qol_21,qol_22,qol_23,qol_24,qol_25,qol_26
0,F,Final,5,5,5,5,5,5,5,5,...,5,5,5,1,1,5,5,5,5,1
1,M,Final,4,4,3,3,4,4,4,4,...,4,4,3,4,1,3,4,4,4,3
2,M,Final,4,4,3,2,4,4,3,3,...,3,3,3,3,2,3,3,4,4,4
3,F,Final,4,4,2,1,5,4,3,5,...,5,5,5,2,5,4,5,5,5,5
4,F,Final,3,2,2,1,4,3,3,4,...,2,3,3,4,3,4,4,4,3,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  194 non-null    object
 1   batch   194 non-null    object
 2   qol_1   194 non-null    int64
 3   qol_2   194 non-null    int64
 4   qol_3   194 non-null    int64
 5   qol_4   194 non-null    int64
 6   qol_5   194 non-null    int64
 7   qol_6   194 non-null    int64
 8   qol_7   194 non-null    int64
 9   qol_8   194 non-null    int64
 10  qol_9   194 non-null    int64
 11  qol_10  194 non-null    int64
 12  qol_11  194 non-null    int64
 13  qol_12  194 non-null    int64
 14  qol_13  194 non-null    int64
 15  qol_14  194 non-null    int64
 16  qol_15  194 non-null    int64
 17  qol_16  194 non-null    int64
 18  qol_17  194 non-null    int64
 19  qol_18  194 non-null    int64
 20  qol_19  194 non-null    int64
 21  qol_20  194 non-null    int64
 22  qol_21  194 non-null    int64
 23  qol_22  194 non-null    int64
 24  qol_23  194 non-null    int64
 25  qol_24  194 non-null    int64
 26  qol_25  194 non-null    int64
 27  qol_26  194 non-null    int64
dtypes: int64(26), object(2)
memory usage: 42.6+ KB