## For Covid-related questions

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/covid.csv')
df.head()

   gender             batch      avg_pre_covid_use     avg_post_covid_use
0  Female  2017/ Final year  8 or more hrs per day  8 or more hrs per day
1    Male  2017/ Final year     4 to 6 hrs per day     4 to 6 hrs per day
2    Male  2017/ Final year     6 to 8 hrs per day     6 to 8 hrs per day
3  Female  2017/ Final year     4 to 6 hrs per day     6 to 8 hrs per day
4  Female  2017/ Final year     2 to 4 hrs per day     4 to 6 hrs per day

In [3]:
gender_dict = {'Male': 'M', 'Female': 'F'}
batch_dict = {'2020/ First year': 'First', '2017/ Final year': 'Final'}

df['gender'] = df['gender'].replace(gender_dict)
df['batch'] = df['batch'].replace(batch_dict)

df.head()

  gender  batch      avg_pre_covid_use     avg_post_covid_use
0      F  Final  8 or more hrs per day  8 or more hrs per day
1      M  Final     4 to 6 hrs per day     4 to 6 hrs per day
2      M  Final     6 to 8 hrs per day     6 to 8 hrs per day
3      F  Final     4 to 6 hrs per day     6 to 8 hrs per day
4      F  Final     2 to 4 hrs per day     4 to 6 hrs per day

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              194 non-null    object
 1   batch               194 non-null    object
 2   avg_pre_covid_use   190 non-null    object
 3   avg_post_covid_use  191 non-null    object
dtypes: object(4)
memory usage: 6.2+ KB

In [5]:
df.describe()

       gender  batch   avg_pre_covid_use  avg_post_covid_use
count     194    194                 190                 191
unique      2      2                   5                   5
top         M  First  0 to 2 hrs per day  2 to 4 hrs per day
freq      117    139                  53                  53